@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-titles: "Playfair Display", serif;
  --font-family-text: "Questrial", sans-serif;

  --primary-brand-color: #2a2a2a;
  --secondary-brand-color: #f6f4ef;
  --highlight-color: #3a5ca9;
  --error-color: rgb(239 68 68);
}

body {
  margin: 0;
  color: var(--primary-brand-color);
  background-color: var(--secondary-brand-color);
  min-height: 100vh;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-titles);
}

span,
p,
label,
input,
button,
textarea {
  font-family: var(--font-family-text) !important;
}

input,
button,
textarea,
p {
  outline: none;
}

a {
  cursor: pointer;
}

button,
li {
  transition: 0.2s ease all;
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Mapbox */

.mapboxgl-ctrl-geocoder {
  height: 2.5rem;
  display: flex;
  align-items: center;
  width: 100% !important;
  max-width: 100% !important;
  box-shadow: none !important;
  border-radius: 2px 0 0 2px !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none !important;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
  outline: none;
  line-height: 1.25rem;
  height: 100%;
  padding: 0.5rem;
}

.mapboxgl-ctrl button:not(:disabled):hover {
  background: transparent !important;
}

.mapboxgl-ctrl-geocoder--button {
  margin-top: 2.3px !important;
}

.mapboxgl-popup-content {
  padding: 1rem !important;
  background-color: var(--secondary-brand-color) !important;
}

.mapboxgl-popup-content h1 {
  font-size: 1rem;
  white-space: nowrap;
  margin-top: 0.5rem;
  font-weight: bold;
}

.mapboxgl-popup-content p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  margin-top: 0.1rem;
}

.mapboxgl-popup-content .add-btn {
  font-size: 0.85rem;
}

.mapboxgl-popup-content button:hover {
  text-decoration: underline;
}

.mapboxgl-popup {
  max-width: 30% !important;
  min-width: 20%;
}

.mapboxgl-popup-close-button {
  font-size: 1.1rem !important;
  color: var(--primary-brand-color) !important;
  opacity: 0.7;
  right: 0.1rem !important;
}

.mapboxgl-popup-tip {
  border-top-color: var(--secondary-brand-color) !important;
}

.mapboxgl-marker:nth-child(3) {
  display: none;
}