@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-titles: "Playfair Display", serif;
  --font-family-text: "Questrial", sans-serif;

  --primary-brand-color: #2a2a2a;
  --secondary-brand-color: #f6f4ef;
  --highlight-color: #3a5ca9;
  --error-color: rgb(239 68 68);
}

body {
  margin: 0;
  color: var(--primary-brand-color);
  background-color: var(--secondary-brand-color);
  min-height: 100vh;
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-titles);
}

span,
p,
label,
input,
button {
  font-family: var(--font-family-text) !important;
}

input {
  outline: none;
}

button,
li {
  transition: 0.2s ease all;
}

.capitalize-first::first-letter {
  text-transform: capitalize;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Mapbox */

.mapboxgl-ctrl-geocoder {
  height: 2.5rem;
  display: flex;
  align-items: center;
  width: 100% !important;
  max-width: 100% !important;
  box-shadow: none !important;
  border-radius: 2px 0 0 2px !important;
}

.mapboxgl-ctrl-geocoder--icon-search {
  display: none !important;
}

.mapboxgl-ctrl-geocoder input[type="text"] {
  outline: none;
  line-height: 1.25rem;
  height: 100%;
  padding: 0.5rem;
}

.mapboxgl-ctrl button:not(:disabled):hover {
  background: transparent !important;
}

.mapboxgl-ctrl-geocoder--button {
  margin-top: 2.3px !important;
}
